@model Tourizen.Models.GuestDetailForm

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var detail = Session["Detail"] as Tourizen.Models.DetailModel;
}


<div class="row">

    <!--Booking-->
    <div class="col-sm-5">

        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3>Booking Detail</h3>
                    </div>

                    <div class="panel-body">
                        
                            <div class="row" style="margin-top: 15px">
                                <div class="col-sm-12">
                                    <label class="text-primary"><strong>Check In</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>@detail.Booking.CheckIn.ToLongDateString()</label>
                                </div>
                            </div>
                        

                        
                            <div class="row" style="margin-top: 15px">
                                <div class="col-sm-12">
                                    <label class="text-primary"><strong>Check Out</strong></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>@detail.Booking.CheckOut.ToLongDateString()</label>
                                </div>
                            </div>
                        

                        <div class="row" style="margin-top: 15px">
                            <div class="col-sm-12">
                                <label><strong class="text-primary">Total Night - </strong>@detail.Booking.NumberNight Night</label>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px">
                            <div class="col-sm-12">
                                <label><strong class="text-primary">Total Room - </strong>@detail.Booking.NumberRoom Room</label>
                            </div>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <h5><strong>@detail.RoomType.Name</strong>
                                ( @detail.Hotel.Name )</h5>
                            </div>  
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h5><strong>Guest Per Room - </strong>@detail.RoomType.GuestPerRoom Person</h5>
                            </div>                       
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h5>
                                @if (@detail.RoomType.Cancellable.Equals(true))
                                {
                                    <label class="text-success">Free Cancellation</label> 
                                }
                                else
                                {
                                    <label class="text-success">Non Refundable</label>
                            
                                }
                            </h5>
                            </div>   
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--End Booking Content-->

    <!--Cost and Guest-->
    <div class="col-sm-7">
        <!---Cost-->
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-header">Cost Summary</h3>
                    </div>

                    <div class="col-sm-12" style="margin-top: 15px">
                        <div class="row">
                            <h5 class="col-sm-6"><strong>Room Charges(Per Room)</strong></h5>
                            <h5 class="col-sm-6"><strong>$ @detail.RoomType.PricePerNight x @detail.Booking.NumberNight Night x @detail.Booking.NumberRoom Room</strong></h5>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <hr style="margin: 5px 5px 5px 5px;" />
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <h3 class="col-sm-6"><strong class="text-danger">Total</strong></h3>
                            <h3 class="col-sm-6"><strong class="text-danger">$ @detail.Booking.TotalCharge</strong></h3>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <p class="text-warning"><strong>Booking charges does not include Tax and ServiceFee.</strong></p>
                    </div>


                </div>

            </div>
        </div>
        <!---End Cost-->

        <!---Guest Form-->
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-header">Confirm Your Booking</h3>
                    </div>

                    @using (Html.BeginForm())
                    { 
                        @Html.ValidationSummary(true)
         
                        <!--F Name-->
                        <label class="col-sm-3 control-label" style="margin-top: 15px">@Html.LabelFor(m => m.FirstName)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <p class="text-danger" style="padding: 0px 15px 0px 15px">@Html.ValidationMessageFor(m => m.FirstName)</p>
                        </div>
                            
                        <!--L Name-->
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.LastName)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <p class="text-danger" style="padding: 0px 15px 0px 15px">@Html.ValidationMessageFor(m => m.LastName)</p>
                        </div>
                            
                        <!--Email-->
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.Email)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <p class="text-danger" style="padding: 0px 15px 0px 15px">@Html.ValidationMessageFor(m => m.Email)</p>
                        </div>     
                            
                        <!--Phone-->
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.Phone)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <p class="text-danger" style="padding: 0px 15px 0px 15px">@Html.ValidationMessageFor(m => m.Phone)</p>
                        </div>          
                            
                        <!--Country-->
                        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.Country)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <p class="text-danger" style="padding: 0px 15px 0px 15px">@Html.ValidationMessageFor(m => m.Country)</p>
                        </div>                    
                            
                        <!--Warning-->
                        <div class="col-sm-12">
                            <p class="text-danger">By confirm this booking mean that you agree our <span style="text-decoration: underline;">terms and conditions.</span> </p>
                        </div>         
                            
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-danger btn-large btn-lg" value="Continue" style="margin-bottom: 20px;" />
                        </div>
                                                         
                    }

                </div>
            </div>

        </div>
        <!---End Guest Form-->
    </div>

    <!--End Cost and Guest-->
</div>
